/* --------------------------------------
   Layout
   -------------------------------------- */

	 .alert {
	 	margin-top: 20px;
	 	display: none;
	 }
#features{
	margin-top: 70px;
}
.feature h4{
	font-size: 24px;
	text-align: center;
}

.nav-tabs{
	margin-bottom: 20px;
}
footer {
	background: #333;
	color: #eee;
	font-size: 11px;
	padding: 20px;
}
#connect li{
	display: inline;
	margin-right: 10px;
}
footer a{
	color: grey;
	font-size: 12px;
}
.dropdown-menu{
	background-color: #eee;
}
.dropdown-menu .divider{
	margin: 2px 0;
	height: 2px;
}
/* --------------------------------------
   Typography
   -------------------------------------- */

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-family: Open Sans;

}
#part h3{
	font-size: 18px;
	text-align: center;
}
#part p{
	font-size: 14px;
	text-align: justify;
}
ul.unstyled {
	list-style: none;
	padding-left: 0;
}
#moreInfo{
	font-family: helvetica;
	margin-bottom: 20px;
}
#moreInfo h3{
	font-size: 24px;
	text-decoration: underline;
	text-align: center;
	padding-bottom: 20px;
}
#moreInfoH h3{
	font-size: 26px;
	text-decoration: none;
	text-align: left;
	margin-bottom: 0;
	padding-bottom: 2px;
}
#moreInfo p{
	font-size: 18px;
	text-align: justify;
	padding: 20px;

}

#moreInfo a{
 color: black;
	padding: 20px;
}
#features a{
	padding-top: 5px;
	color: black;
	text-decoration: none;
}
#features h4{
	color: black;
}
.tabbable a{
	font-size: 15px;
}
.col-sm-6,.col-sm-3, .col-sm-8{
	padding: 0;
}
.col-sm-12{
	margin-bottom: 20px;
}
.cloth p{
	text-align: center;
	padding-top: 10px;
}
/* --------------------------------------
   Navbar
   -------------------------------------- */

.navbar-brand {
	padding: 0px 15px;
	margin-top: 8px;
}
footer ul{
	padding: 0 10px;
	}
	footer h6{
			font-size: 14px;
		}
		/*
.col-sm-8{
background-color: yellow;
}

.col-sm-4{
background-color: green;
}*/
/* --------------------------------------
Carousel
-------------------------------------- */

#myCarousel {
margin-top: 20px;
margin-bottom: 5px;
}

.carousel-caption {
font-size: 24px;
}

.carousel-caption h4 {
font-size: 32px;
}

#myCarousel .item { height: 400px; }

#slide1 {

background: url('../../img/hero1_medium.jpg') top center no-repeat;
}

#slide2 {
background: url('../../img/hero2_medium.jpg') top center no-repeat;
}

#slide3 {
background: url('../../img/hero3_medium.jpg') top center no-repeat;
}



/* --------------------------------------
   Global Styles
   -------------------------------------- */


/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

	.thumbnail .price {
		font-size: 14px;
	}

	.thumbnail .price sup {
		font-size: 10px;
	}
	.img-responsive{
	 margin:0 auto;
	 }


}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

 .img-responsive{
 	margin:0 auto;
  }
.cloth .img-responsive{
	margin: 0 auto;
	padding:0 auto;
}
#part{
	padding-top: 0;
}
#part h3{
	font-size: 14px;
}
#part p{
	font-size: 12px;
}
	#myCarousel .item { height: 310px;}

	#slide1 {
			background: url('../../img/hero1_small.jpg') top center no-repeat;
		}

	#slide2 {
		background: url('../../img/hero2_small.jpg') top center no-repeat;
	}

	#slide3 {
		background: url('../../img/hero3_small.jpg') top center no-repeat;
	}

	.carousel-caption {
		font-size: 16px;
	}

	.carousel-caption h4 {
		font-size: 22px;
	}

}

/* Large desktop */
@media (min-width: 1200px) {

	#myCarousel .item { height: 500px; }

	#slide1 {
		background: url('../../img/hero1_large.jpg') top center no-repeat;
	}

	#slide2 {
		background: url('../../img/hero2_large.jpg') top center no-repeat;
	}
	#slide3 {
		background: url('../../img/hero3_large.jpg') top center no-repeat;
	}

}
